<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css" >

</head>
<body>

    <div class="logo">
        <img src="images/rushguitarsLogo.png" class="img-fluid">
    </div>
    <br>
    <span class="logo-text">Custom Guitars</span>
    <div class="col-sm-12">
<nav class="navbar full navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" data-bs-theme="dark" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav navbar-ul full">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/guitars">Guitars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kits">Kits</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="/accessories">Accessories</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/">Home</a></li>
            <li><a class="dropdown-item" href="/about">About</a></li>
            <li><a class="dropdown-item" href="/">Guitars</a></li>
            <li><a class="dropdown-item" href="/kits">Kits</a></li>
            <li><a class="dropdown-item" href="/accessories">Accessories</a></li>
            <li><a class="dropdown-item" href="/contact">Contact</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
    </div>
