<div class="container-xxl">
    <div class="row">

        <div class="col">
            {{> header}}
        </div>

    </div>
    <div class="row">

        <div class="col banner-img">
                <img src="images/GuitarBanner.png" class="img-fluid">
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-4 tile">
            <div class="tile-header">
                Guitars
                </div>
                <div class="tile-body">
                    <img src="images/guitars.png">
                </div>
                <div class="tile-detail">
                    <p>Fully finished guitars.</p>
                    <p>Built from scratch. Custom colors available. Allow at least a month for delivery.</p>
             </div>
        </div>
        <div class="col-md-4 tile">
            <div class="tile-header">
                Kits
                </div>
                <div class="tile-body">
                    <img src="images/firebirdKit.jpg">
                </div>
                <div class="tile-detail">
                    <p>Choose from a variety of pre-made guitar kits based on popular models.</p>
                    <p>Kits are made from available hardwoods, scale lengths are 24.75, 25 and 25.5 depending on the kit.</p>
                </div>
        </div>
                <div class="col-md-4 tile">
            <div class="tile-header">
                Accessories
                </div>
                <div class="tile-body">
                    <img src="images/accessories.jpg">
                </div>
                <div class="tile-detail">
                    <p>Guitar picks, straps, stands and more.</p>
                    <p>Choose your accessories and get 10% with a guitar kit.</p>
                </div>
        </div>

    </div>

</div>